* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

body {
  background-color: #000;
}
.top{
  margin: 10px;
}
.blogcontainer{
  height: fit-content;
}

.nav {
  position: relative;
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 9px;
  padding-bottom: 30px;
  color: #fff;
  overflow: hidden;
}

.nav-left h2 {
  padding-left: 7px;
  color: #23224c;
  font-family: "Arial";
  font-size: 24px;
  font-weight: bold;
}

.nav-left span {
  color: #0190ff;
}

#hr {
  color: white;
}

.nav-right {
  pointer-events: all;
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-right button {
  padding: 10px 20px;
  border-radius: 34px;
  color: #000;
  font-family: "Arial";
  font-weight: 700;
  font-size: large;
  background-color: #ffd700;
  border: 2px solid #ffd700;
  transition: background-color 2s ease;
  margin-top: 0px;
}

.nav a {
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  font-family: "Arial";
  font-weight: 600;
  display: inline-block;
  position: relative;
}

.nav-option::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  top: 30px;
  left: 0;
  background-color: aqua;
  transition: transform 0.25s ease-out;
}

.nav a:hover::after {
  transform: scaleX(1);
}

.nav-right button:hover {
  background-color: transparent;
  color: #ffd700;
}

.nav-left h2 span {
  animation: planetGlow 2s ease-in-out infinite alternate;
}

@keyframes planetGlow {
  0% {
    text-shadow: 0 0 5px rgba(0, 200, 255, 0.5);
  }

  100% {
    text-shadow: 0 0 10px rgba(0, 200, 255, 1);
  }
}

.section {
  width: 95%;
height: 100vh;
background-color: #ffd700;
margin: 40px auto;
display: grid;
grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
grid-template-rows: repeat(auto-fit, minmax(100px, 1fr)); /* Add this line for a new row */
grid-gap: 25px;
max-width: 690px;

}


.blogcontainer{
  width: 95%;
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


.card {
  background-color: #333;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.4);
  height: 450px;
  max-width: 350px;
  margin-top: 50px;
}
.image-section {
  min-height: 200px;
  border-radius: 10px;
}
.card .img-one {
  background-image: url("https://cdn.britannica.com/98/240698-050-AD1947D9/Gaganyaan-orbital-spacecraft-illustration-India-manned-space-flight.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.card .img-two {
  background-image: url("https://www.esa.int/var/esa/storage/images/esa_multimedia/images/2023/08/esa_ground_stations_support_isro_s_aditya-l1_solar_observatory/25064719-1-eng-GB/ESA_ground_stations_support_ISRO_s_Aditya-L1_solar_observatory_pillars.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.card .img-three {
  background-image: url("https://th-i.thgim.com/public/incoming/lv1s03/article66946252.ece/alternates/FREE_1200/Chandrayaan-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card .img-four {
  background-image: url("./img/jwst-spacecraftpotentialtargetsmontageflip-1200px-4-jpg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card .img-five {
  background-image: url("https://cdn.britannica.com/41/196341-050-6B55B7E7/solar-eclipse-moon-sun-space-astronomy.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card .img-six {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/6/65/The_station_pictured_from_the_SpaceX_Crew_Dragon_1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card .img-seven {
  background-image: url("https://www.hindustantimes.com/ht-img/img/2023/08/11/550x309/Virgin-Galactic-Research-Flight-0_1691726439322_1691726470475.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card .img-eight {
  background-image: url("https://physics.aps.org/assets/c3b9331f-5080-421d-b6d2-1944b1b26ae3/e28_1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card .img-nine {
  background-image: url("https://th-i.thgim.com/public/incoming/lvgcs6/article67249544.ece/alternates/LANDSCAPE_1200/PTI08_29_2023_000228B.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.card .img-ten{
  background-image: url("https://djzw0xesrb3bn.cloudfront.net/transcoded_images/63eb629b5eb75a1912981ac5-1676370700-xl_image_16_9/360x203-large-xl_image_16_9.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.content {
  text-align: center;
  padding: 20px 10px;
}
.content h2 {
  letter-spacing: 2px;
  color: rgb(183, 255, 231);
  font-family: "Arial";
}
.content p {
  font-size: 16px;
  color: #f2e2e2;
  font-family: "Arial";
  margin: 15px 0px;
}
.content a {
  text-decoration: none;
  font-size: 16px;
  color: #000;
  font-family: "Arial";
  letter-spacing: 2px;
  display: inline-block;
  background-color: #ffd700;
  border: 2px solid #ffd700;
  padding: 10px;
  border-radius: 34px;
  margin-bottom: 15px;
  pointer-events: all;
  position: relative;
  transition: background-color 1s ease;
}
.content a:hover {
  color: #ffd700;
  background-color: #333;
}
footer {
  width: 100%;
  color: white;
  /* margin: 10px; */
  border-top: 1px solid white;
}
.connect {
  padding: 30px;
  padding-top: 20px;
  text-align: center;
}
.connect h2 {
  text-align: center;
  padding-bottom: 20px;
  font-weight: 600;
  font-size: 1.7rem;
}
.connect a {
  padding-top: 20px;
  color: white;
  font-size: 1.57rem;
  line-height: 40px;
  letter-spacing: 20px;
}
.connect a:hover {
  color: aqua;
}
.links {
  text-align: center;
}
.links h2 {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 1.7rem;
}
.links li {
  list-style: none;
}
.links li a {
  text-decoration: none;
  color: cadetblue;
  line-height: 35px;
  font-size: 1.3rem;
}
.links li a:hover {
  color: bisque;
  text-decoration: underline;
}
.copyright {
  text-align: center;
  margin-top: 20px;
  font-size: 1.2rem;
}


#progress{
  background-color: white;
  position: fixed;
  bottom: 20px;
  right: 10px;
  height: 60px;
  width: 60px;
  display: none;
  place-items: center;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0 , 0 , 0 , 0.2);
  cursor: pointer;
 
}
#progress-value{
  display: block;
  height: calc(100% - 15px);
  width: calc(100% - 15px);
  background-color:#1f3959 ;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 25px;
  font-weight: 700;
  /* color: #001a2e; */
  color: white;
  
}



