* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

body {
  background-color: #000;
}

.top {
  pointer-events: none;
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.workingarea {
  position: relative;
  margin: 0 auto;
  width: 80%;
  max-width: 1920px;
  height: 100vh;
}

.nav {
  position: relative;
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 9px;
  padding-bottom: 30px;
  color: #fff;
  overflow: hidden;
}

.nav-left h2 {
  padding-left: 7px;
  color: #23224c;
  font-family: "Arial";
  font-size: 24px;
  font-weight: bold;
}

.nav-left span {
  color: #0190ff;
}

#hr {
  color: white;
}

.nav-right {
  pointer-events: all;
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-right button {
  padding: 10px 20px;
  border-radius: 34px;
  color: #000;
  font-family: "Arial";
  font-weight: 700;
  font-size: large;
  background-color: #ffd700;
  border: 2px solid #ffd700;
  transition: background-color 2s ease;
  margin-top: 0px;
}

.nav a {
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  font-family: "Arial";
  font-weight: 600;
  display: inline-block;
  position: relative;
}

.nav-option::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  top: 30px;
  left: 0;
  background-color: aqua;
  transition: transform 0.25s ease-out;
}

.nav a:hover::after {
  transform: scaleX(1);
}

.nav-right button:hover {
  background-color: transparent;
  color: #ffd700;
}

.nav-left h2 span {
  animation: planetGlow 2s ease-in-out infinite alternate;
}

@keyframes planetGlow {
  0% {
    text-shadow: 0 0 5px rgba(0, 200, 255, 0.5);
  }

  100% {
    text-shadow: 0 0 10px rgba(0, 200, 255, 1);
  }
}

.section {
  width: 95%;
  margin: 40px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  grid-gap: 25px;
}
.card {
  background-color: #333;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.4);
}
.image-section {
  min-height: 200px;
  border-radius: 10px;
}
.card .img-one {
  background-image: url("https://cdn.britannica.com/98/240698-050-AD1947D9/Gaganyaan-orbital-spacecraft-illustration-India-manned-space-flight.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.card .img-two {
  background-image: url("https://www.esa.int/var/esa/storage/images/esa_multimedia/images/2023/08/esa_ground_stations_support_isro_s_aditya-l1_solar_observatory/25064719-1-eng-GB/ESA_ground_stations_support_ISRO_s_Aditya-L1_solar_observatory_pillars.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.card .img-three {
  background-image: url("https://th-i.thgim.com/public/incoming/lv1s03/article66946252.ece/alternates/FREE_1200/Chandrayaan-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.content {
  text-align: center;
  padding: 20px 10px;
}
.content h2 {
  letter-spacing: 2px;
  color: rgb(183, 255, 231);
  font-family: "Arial";
}
.content p {
  font-size: 16px;
  color: #f2e2e2;
  font-family: "Arial";
  margin: 15px 0px;
}
.content a {
  text-decoration: none;
  font-size: 16px;
  color: #000;
  font-family: "Arial";
  letter-spacing: 2px;
  display: inline-block;
  background-color: #ffd700;
  border: 2px solid #ffd700;
  padding: 10px;
  border-radius: 34px;
  margin-bottom: 15px;
  pointer-events: all;
  position: relative;
  transition: background-color 1s ease;
}
.content a:hover {
  color: #ffd700;
  background-color: #333;
}
footer {
  width: 100%;
  color: white;
  /* margin: 10px; */
  margin-top: 80px;
  border-top: 1px solid white;
}
.connect {
  padding: 30px;
  padding-top: 20px;
  text-align: center;
}
.connect h2 {
  text-align: center;
  padding-bottom: 20px;
  font-weight: 600;
  font-size: 1.7rem;
}
.connect a {
  padding-top: 20px;
  color: white;
  font-size: 1.57rem;
  line-height: 40px;
  letter-spacing: 20px;
}
.connect a:hover {
  color: aqua;
}
.links {
  text-align: center;
}
.links h2 {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 1.7rem;
}
.links li {
  list-style: none;
}
.links li a {
  text-decoration: none;
  color: cadetblue;
  line-height: 35px;
  font-size: 1.3rem;
}
.links li a:hover {
  color: bisque;
  text-decoration: underline;
}
.copyright {
  text-align: center;
  margin-top: 20px;
  font-size: 1.2rem;
}
