*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height:100%;
}
.main{
    width: 100%;
    height: 100vh;
    
    position: relative;

}
.back{
    width: 100%;
    height: 100vh;
    pointer-events: all;
   
    
}
.back img{
    pointer-events: all;
    width: 100%;
    height: 100%;
    
    object-fit: cover;

}
.top{
    pointer-events: none;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100vh;
    

    
}
.workingarea{
    position: relative;
    margin:0 auto;
    width: 80%;
    max-width: 1920px;
    height: 100vh;
    
    
}
.nav{
    width: 100%;
    padding:20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top:9px;
    padding-bottom: 30px;
    
    

}
.nav-left h2{
    padding-left: 7px;
    color:#fff;
    font-family: "Arial";
    font-size: 20px;
    
}
.nav-left span{
    color:rgb(0, 200, 255)
}
#hr{
    color:white;

}
.nav-right{
    display: flex;
    align-items: center;
    gap:60px;
}
.nav-right button{
    pointer-events: all;
    padding: 9px 30px;
    border-radius: 34px;
    color:#000;
    font-family: "Arial";
    font-weight: 600;
   
}

.nav a{
    pointer-events: all;
    text-decoration: none;
    font-size:15px;
    color:#fff;
    font-family: "Arial";
    font-weight: 600;
    display:inline-block;
    position: relative;
    

    
}
.nav a::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    top:30px;
    left:0;
   

    background-color: aqua;
    
    transition: transform 0.25s ease-out;
}
.nav a:hover::after{
    transform: scaleX(1);
   
}


.hero{
    transform: translate(0%,-50%);
    position:absolute;
    top:60%;
    left:0;
    display: flex;
    justify-content: space-between;
    width: 100%;
   
    
}
.heroleft{
    width: 38%;
    
  

    
}
.heroleft .elem{
    position:relative;
    overflow: hidden;
    
    height:6vw;
    
    
   
    
}
.heroleft .elem h1{
    top:100%;
    left:0;
    position: absolute;
    font-family:"Airal";
    font-weight: 700;
    color:#ffffffe1;
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 3vw;
  
}
.heroleft .elem h1:nth-child(1){
    top:0;
}
.heroleft .elem h3{
    top:100%;
    left:0;
    line-height: 1;
    
    position: absolute;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:red;
    font-weight: 600;
    font-size: 15px;
}
.heroleft .elem h3:nth-child(1){
    top:0;
}


.heroleft button{
    pointer-events: all;
    padding: 12px 32px;
    font-size: 12px;
    font-family: "Arial";
    font-weight: 900;
    margin-top: 13vw;
    border-radius: 20px;
    border-top-left-radius: 0;
}

.heroleft a{
    color:#000;
    
}
.heroleft a:hover{
    color:blue;

}

   



.heroright{
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    width: 25%;
    
   

    color:#fff;
    
}
.heroright p{
    
    text-align: right;
    font-weight: 300;
    font-size: 15px;
    color:white;
}
.heroright .image{
    margin-top: 20px;
    margin-bottom:30px ;
    width: 100%;
    height: 170px;
    background-image: url(https://images.unsplash.com/photo-1516339901601-2e1b62dc0c45?q=80&w=1942&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    
}
.heroright p:nth-child(3){
    margin-bottom: 50px;
}