* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/daksh.jpg");
}

.outer-container {
    height: auto;
    width: auto;
    padding: 3rem;
    background: #ffb347;
    background: -webkit-linear-gradient(to right, #0f0f15, #040c36);
    background: linear-gradient(to right, #05081b, #121a2e);
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-container {
    height: 50vh;
    width: auto;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    gap: 2rem;
}

.emoji-section {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* width: 100%; */
    align-self: flex-end;
    gap: 2rem;
}

.emoji-section div {
    font-size: 3rem;
    border-radius: 50%;
    cursor: pointer;
}

.rating-section {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    gap: 5.5rem;
}


.rating-section div {
    font-size: 2rem;
    cursor: pointer;
    border-radius: 50%;
}

.rating-section .message {
    margin-right: 7rem;
}

.rating-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.rating-description>.message {
    margin-right: 1.5rem;
    margin-right: 6rem;
}

.rating-description div {
    font-size: 1.1rem;
    cursor: pointer;
}

.submit-section a {
    text-decoration: none;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    background-color: rgb(42, 41, 41);
    color: white;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}

.submit-section a:hover {
    background-color: black;
    transition: all 0.2s ease-in-out;
}

.submit-section {
    margin-bottom: 1rem;
    align-self: flex-end;
    transition: all 0.2s ease-in-out;
}
html{
    overflow-x: hidden;
}
footer {
    width: 100%;
    color: white;
    /* margin: 10px; */
    margin-top: 80px;
    border-top: 1px solid white;
    background-color: black;
  }
  .connect {
    padding: 30px;
    padding-top: 20px;
    text-align: center;
  }
  .connect h2 {
    text-align: center;
    padding-bottom: 20px;
    font-weight: 600;
    font-size: 1.7rem;
  }
  .connect a {
    padding-top: 20px;
    color: white;
    font-size: 1.57rem;
    line-height: 40px;
    letter-spacing: 20px;
  }
  .connect a:hover {
    color: aqua;
  }
  .links {
    text-align: center;
  }
  .links h2 {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 1.7rem;
  }
  .links li {
    list-style: none;
  }
  .links li a {
    text-decoration: none;
    color: cadetblue;
    line-height: 35px;
    font-size: 1.3rem;
  }
  .links li a:hover {
    color: bisque;
    text-decoration: underline;
  }
  .copyright {
    text-align: center;
    margin-top: 20px;
    font-size: 1.2rem;
  }
  